%% -*- mode:erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [ {snabbkaffe, "1.0.10"}
       , {typerefl, {git, "https://github.com/ieQu1/typerefl.git", {tag, "0.9.7"}}}
       ]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{eunit_output, full}.

{eunit_opts, [verbose, {print_depth, 100}]}.

{profiles, [ {test,
              [{deps, [{proper, "1.5.0"}]}]}
           , {dev,
              [ {plugins, [rebar3_hex]}
              ]}
           ]}.
